.categories {
  display: flex;
  align-items: center;

  margin-bottom: 5%;
  margin-right: 3%;

  .categories-text {
    border-radius: 0.5rem;
    background-color: $primary;
    color: white;
    padding: 0.3rem 1rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .categories {
    .categories-text {
      font-size: 0.6rem;
    }
  }
}
