footer {
  bottom: 0;
  width: 100%;
  background: black;
  height: 10.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .copyright {
    color: $secondary;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}
