.host {
  display: flex;

  .host-identity {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: end;
    }
  }

  img {
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
  }
}

@media screen and (max-width: 992px) {
  .host {
    .host-identity {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .host {
    .host-identity {
      font-size: 0.5rem;
      p {
        font-size: 0.7rem;
      }
    }
    img {
      height: 2rem;
      width: 2rem;
    }
  }
}
