.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5%;

  .navbar-logo {
    height: 3.5rem;
  }

  .navbar-link {
    display: flex;
    width: 25%;

    .navbar-link-style {
      width: 100%;
      color: $primary;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: none;
      font-size: large;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    .navbar-logo {
      height: 2.5rem;
    }
    .navbar-link {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .navbar-logo {
      height: 2rem;
    }
    .navbar-link {
      .navbar-link-style {
        font-size: 0.6rem;
        text-transform: uppercase;
      }
    }
  }
}
